html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h7 h6, pre, form, fieldset, input, p, blockquote, table, th, td {
    margin: 0;
    padding: 0;
}
.wrapper {
    clear: both;
    margin: 0 auto;
    width: 600px;
}
#result-page h1, #result-page h2, #result-page h3, #result-page h4 {
    display: block;
    font-weight: 400;
    page-break-after: avoid;
}
body {
 font-size: 9.5pt; font-family: Ubuntu, sans-serif; line-height: 1.3em; height: 100%;
}
#main-wrapper {
    height: auto !important;
    margin: 0;
    min-height: 100%;
}
#headline {
    background: none repeat scroll 0 0 #F7F7F7;
    border-bottom: 1px solid #DFDFDF;
    height: 60px;
    margin-bottom: 7px;
    min-width: 600px;
}
h2 {
    letter-spacing: -1px;
    margin: 0;
    padding: 0;
}
#content-title h2 {
    color: #555555;
    display: block;
    float: left;
    font-size: 1.8em;
    font-weight: bold;
    line-height: 60px;
    padding-right: 1em;
    text-shadow: 0 1px 1px #FFFFFF;
}
#container {
    margin: 0 auto;
    width: 600px;
}
.push {
    clear: both;
    height: 124px;
}
#footer {
    background: none repeat scroll 0 0 #F7F7F7;
    border-top: 1px solid #DFDFDF;
    height: 99px;
    margin-top: -100px;
    position: relative;
    text-align: center;
}
#result-page {
 margin: 0 auto; text-align:left; padding:0px;
}
#result-summary {
    float: left;
    text-align: left;
    width: 300px;
}
#result-table {
    border: 1px solid #CCCCCC;
    border-collapse: collapse;
    text-align: left;
    border-collapse: collapse;
    text-align: left;
    width: 100%;
}

#result-table td, #result-table th {
    padding: 5px 8px;
}

#result-table tr + tr {
    border-top: 1px dotted #ccc;
}

#result-table th{
    color: #6699CC;
    font-weight: 700;
    text-align: center;
}

#summary-notes {
    float: right;
    text-align: left;
    width: 280px;
}

#result-page h3 {
    border-bottom: 1px dotted #CCCCCC;
    color: #666666;
    font-size: 150%;
    font-weight: normal;
    line-height: 1.5em;
    margin-bottom: 0.5em;
    margin-top: 1em;
    page-break-after: avoid;
}

div.tablenotes h3 {
    font-size: 120%;
    font-weight: normal;
    line-height: 1.5em;
    margin-bottom: 0.5em;
    margin-top: 0!important;
}

dl.note-list {
    margin-bottom: 0;
}
dl.note-list dt {
    clear: left;
    color: #000000;
    float: left;
    font-weight: 700;
    text-align: right;
}
dl.note-list dd {
    margin: 0 0 0 3em;
    padding: 0 0 0.5em;
}
.rtable {
    border: 1px solid #CCCCCC;
    border-collapse: collapse;
    margin: 8px 0;
    text-align: left;
}
.rtable th{
    color: #6699CC;
    font-weight: 700;
    padding: 4px;
    text-align: right;
}
.rtable td {
    border-top: 1px solid #EEEEEE;
    color: #666699;
    font-family: Consolas,monospace;
    padding: 5px 8px;
    text-align: right;
}
.full {
    width: 100% !important;
}

.result-labels {
 font-weight: bold;
}
div.tablenotes {
    background: none repeat scroll 0 0 #EEEEFF;
    border: 1px solid #CCCCCC;
    margin-bottom: 10px;
    padding: 1.5em;
    font-size: 95%;
}
#result-page img {
    display: block;
    float: none;
    margin: 0 auto;
    page-break-inside: avoid;
}
#result-page div.spacer {
    padding: 5px 0;
}
#result-page .pagebreak {
    clear: both !important;
    display: block;
    page-break-after: always;
}

#result-page .clear {
    clear: both !important;
}

