# git-ls-files --others --exclude-from=.gitignore
# Lines that start with '#' are comments.
*.py[oc]
*~
*.bak
*.cache
.settings
.idea
.project
autoprocess/VERSION
/docs/build/
venv/
etc/
build/
dist/
/*.egg-info
/*.egg
