zope.interface==4.0.5
Pillow==5.3.0
gobject==0.1.0
matplotlib>=2.0.0
msgpack_python==0.5.6
numpy==1.15.4
pexpect==4.6.0
repr==0.3.1
scipy==1.1.0
subprocess32==3.5.3
Twisted==18.9.0
configobj==5.0.6
xvfbwrapper==0.2.9
PyYAML==3.13
zope==4.0b7
prettytable==0.7.2
h5py>=2.3.2
opencv>=2.4.0