[Unit]
Description=AutoProcess Server
After=network.target network-online.target
Wants=network-online.target

[Service]
User=root
ExecStart=auto.server
Restart=always

[Install]
WantedBy=multi-user.target